include _icon.pug

mixin entry(page, label, icon)
    a(href=page)
        li
            +icon(icon)
            span=label

mixin nav
    nav
        ul
            +entry("/", "Home", "egg")
            +entry("/about", "About", "celeste")
            +entry("/sync", "Sync to calendar", "time")
