extends layout

include _icon.pug
include _pin.pug

block content
  - console.log(errors)
  header
    h1 Community Pinboard!
  main#board
    h2.sr-only Pinboard      
    +pins(pinArray, true)
    

  // Switch aside to main?
  aside#pinview
    h2 Pin view
    +pins(pinArray, false)
      hr

      h3#new-pin New pin
      include _form.pug
