#about {
    input {
        width: 100%;
        max-width: 300px;
        display: block;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        text-align: center;
    }

    ul {
        list-style: initial;
        padding-left: 25px;
    }

    main {
        width: 70%;
        margin: auto;
        @media (orientation: portrait) {
            width: 95%;
        }
    }

    h2, h3, h4, h5, h6 {
      text-align: initial;
    }
}