#about {
    input {
        width: 100%;
        max-width: 300px;
        display: block;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        text-align: center;
    }

    ul {
        list-style: initial;
        padding-left: 25px;
    }
}