
main {
  min-width: 50%;
}

aside {
  max-width: 30%;
  float: right;
}

#board {
  width: 100%;
  min-height: 80vh;

  border: 5px solid beige;
}

#board ul {
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#board .pin {
  max-width: 250px;
}