/* Fonts */
@font-face {
  font-family: "RodinBokutoh Pro EB";
  src: url("/fonts/FOT-RodinBokutoh Pro EB.otf");
}

@font-face {
  font-family: "Seurat Pro B";
  src: url("/fonts/FOT-Seurat Pro B.otf");
}

/* General elements */
img {
  width: 200px;
}

/* Basic layout */
body {
  max-width: 95%;
  margin: auto;
  padding: 20px;

  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: 0.1fr 1fr 1fr;

  row-gap: 20px;
  column-gap: 20px;

  font-family: "RodinBokutoh Pro EB";
  letter-spacing: 0.1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Seurat Pro B";
  letter-spacing: 0.12rem;

}

header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
}

main {
  grid-row: 2;
}

aside {
  grid-row: 2;
  height: 80vh;
}

@media (max-width: 800px) {
  aside {
    grid-row: 3;
  }
}


/* Specific parts */
#board {
  width: 100%;
  height: 80vh;

  border: 5px solid beige;
  box-sizing: border-box;
}

.pins {
  padding: 0;
  list-style: none;
}

#board .pins {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#board .pin {
  max-width: 250px;
}

aside .pins {
  overflow-y: scroll;
  height: 80vh;
}