/* Fonts */
@font-face {
  font-family: "RodinBokutoh Pro EB";
  src: url("/fonts/FOT-RodinBokutoh Pro EB.otf");
}

@font-face {
  font-family: "Seurat Pro B";
  src: url("/fonts/FOT-Seurat Pro B.otf");
}

/* General elements */
img {
  width: 200px;
}

/* Basic layout */
html {
  scroll-behavior: smooth;

}

body {
  max-width: 95%;
  margin: auto;
  padding: 20px;

  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: auto 1fr;

  column-gap: 20px;

  font-family: "RodinBokutoh Pro EB";
  letter-spacing: 0.1rem;

  background-color: #b4f4d9;
  background-image: url("/images/nookipedia-tile.jpg");
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Seurat Pro B";
  letter-spacing: 0.12rem;

}

header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
}

header h1 {
  padding: 0;
  margin: 0;
}

main {
  grid-row: 2;
}

aside {
  grid-row: 2;
  height: 80vh;
}

@media (max-width: 800px) {
  body {
    grid-template-rows: auto 1fr 1fr;

  }
  aside {
    grid-row: 3;
  }
}


/* Specific parts */
#board, #pinview {
  width: 100%;
  height: 80vh;

  box-sizing: border-box;

  background-color: beige;
  border: 25px solid hsl(30, 50%, 15%);

  /* Placeholder border image by Jim Kang. See https://gist.github.com/jimkang/6a9df6c0b65effc7c7aa6885e526ceb1 */
  border-image: repeating-linear-gradient(40deg, hsl(30, 50%, 15%), hsl(20, 50%, 30%), hsl(25, 40%, 20%) 8px) 60;
}

.pins {
  padding: 0;
  list-style: none;
}

#board .pins {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#board .pin {
  max-width: 250px;
}

aside .pins {
  overflow-y: scroll;
  height: 80vh;
}