extends ../layout

include ../_nav.pug
include ../_icon.pug

block content
  style.
    body {
        display: initial;
    }

    main {
        width: 70%;
        margin: auto;
    }

    h2, h3, h4, h5, h6 {
      text-align: initial;
    }

  header
    h1=WEBSITE_TITLE

  main
    +nav
    h2 About
    p Community Pinboard (the code this website is running) is a public event pinboard webapp for your local community! 
    p.
        Built to be as lightweight and easy to use as possible, for communities
        and groups wanting a cozy, private place to check out any get togethers.
    p.
        To find out more about how this all works in the back-end (or to host your own instance) view
        #[a(href="https://github.com/Denperidge/community-pinboard/") the repository on GitHub].
