extends ../layout

include ../_icon.pug
include ../_pin.pug
include ../_form.pug

block content
  - console.log(errors)
  script(async defer src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2")

  header
    h1=WEBSITE_TITLE
  main#board
    h2.sr-only Pinboard
    +pins(pinArray, true)
    

  // Switch aside to main?
  aside#pinview
    h2 Pages
    nav(style="text-align: center;")
      a(href="/about") Calendar sync (and about)
    h2 Pin view
    +pins(pinArray, false)
      hr

      h3#new-pin New pin
      +form(form)
