h1, h2, h3, h4, h5, h6 {
  font-family: "Seurat Pro B";
  letter-spacing: 0.12rem;
  text-align: center;
}

img {
  width: 200px;
}

ul {
  list-style: none;
  padding: 0;
}

form {
  p {
    margin-top: 0;
  }
  input {
    display: block;
    margin: auto;

    width: 90%;
    padding: 5px;
    
    border-radius: 5px;

    margin-bottom: 20px;
  }
}

.fileInput {
  display: flex;
  input {
    flex: 1;
  }
  /*input[type="file"] {
    overflow-wrap: break-word;
  }*/
}


/* Basic layout */
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  max-width: 95%;

  margin: auto;

  font-family: "RodinBokutoh Pro EB";
  letter-spacing: 0.1rem;

  background-color: #b4f4d9;
  background-image: url("/images/nookipedia-tile.jpg");
}
