#board {
    height: 80%;
    border: 25px hsl(157, 42%, 67%) solid;
    background: url("/images/cork.jpg") repeat;

    box-shadow: inset 0 0 3em #000;
    padding: 20px;

    .pins {
        display: grid;
        grid-template-columns: repeat(auto-fill, 320px);
    }
}

