#board {
    height: 90%;

    box-sizing: border-box;

    background-color: beige;
    border: 25px solid hsl(30, 50%, 15%);

    /* Placeholder border image by Jim Kang. See https://gist.github.com/jimkang/6a9df6c0b65effc7c7aa6885e526ceb1 */
    border-image: repeating-linear-gradient(40deg, hsl(30, 50%, 15%), hsl(20, 50%, 30%), hsl(25, 40%, 20%) 8px) 60;

    .pins {
        display: grid;
        grid-template-columns: repeat(auto-fill, 320px);
    }

    .pin {
        overflow: none;
        text-overflow: ellipsis;
        text-wrap: wrap;
    
        width: 200px;
        height: 200px;
    
        padding: 30px 50px;
    
        background-image: url("/images/note-paper-with-clips.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
}

