@font-face {
    font-family: "RodinBokutoh Pro EB";
    src: url("/fonts/FOT-RodinBokutoh Pro EB.otf");
}
  
@font-face {
    font-family: "Seurat Pro B";
    src: url("/fonts/FOT-Seurat Pro B.otf");
}
