.pin {
  padding: 20px;

  img {
    object-fit: contain;
    width: 95%;
    margin: auto;
  }

  &.bg {
    h1, h2, h3, h4, h5, h6, span, p, a, ul li {
      padding: 5px;
      background-color: rgba(46, 46, 46, 0.8);
    }

    // In case of embedded <a> or if the pin is an <a>
    a:link, &:link {
      color: white;
    }

    a:visited, &:visited {
      color: rgb(164, 255, 187);
    }

    a:hover, &:hover {
      color: greenyellow;
    }

    a:active, &:active {
      color: black;
    }
  }

  // Preview, as seen on the board
  &.preview {
    margin: auto;
    overflow: none;
    text-overflow: ellipsis;
    text-wrap: wrap;
    overflow: hidden;

    width: 200px;
    height: 200px;

    padding: 30px 50px;

    background-image: url("/images/note-paper-with-clips.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    h3 {
      margin-top: 0;
    }
  }

  // View, as seen on the pin view
  &.view {
    background: beige;
  }
}

.pins {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-wrap: break-word;
}