@import "about";
@import "accessibility";
@import "aside";
@import "board";
@import "elements";
@import "fonts";
@import "icons";
@import "person";
@import "pins";
@import "layout";

#edit {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 80%;
    margin: auto;
}